* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Noto+Sans:wght@400;700&display=swap");

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  background: #fec04f;
}

.container {
  width: 100%;
  max-width: 450px;
  height: fit-content;
}

h2 {
  font-family: "Noto Sans", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  text-align: center;
  color: rgba(34, 60, 72, 0.79);
}

.computer-card h2 {
  margin-bottom: 20px;
}

.user-card h2 {
  margin: 25px 0 20px;
}

.card-box {
  width: 185px;
  height: 220px;
  border-radius: 10px;
  background: #fffffd;
  box-shadow: 11px 12px 31px 0px #00000040;
  margin: auto;

  background-size: 75%;
  background-position: center;
  background-repeat: no-repeat;
}

.user-card {
  margin-bottom: 40px;
}

.container button {
  outline: none;
  border: none;
  padding: 12px;
  box-shadow: 0px 4px 9px 0px #00000040;
  border-radius: 5px;
  font-size: 16px;
  margin: 15px auto;
  display: block;
  min-width: 150px;
  font-family: "Noto Sans", sans-serif;
}

.score-circle {
  font-family: "Noto Sans", sans-serif;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: #223c48;
  color: #fffffd;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-30%, -30%);
  font-size: 23px;
}

#header {
  margin-top: 20px;
  min-height: 30px;
  text-align: center;
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #223c48;
}

.score-title {
  font-family: "Gloria Hallelujah", cursive;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  transform: rotate(-16.93deg);
  width: fit-content;
  margin-top: -40px;
}

.extra-tools {
  display: flex;
  margin-top: -420px;
  margin-left: 4%;
}

.extra-tools img {
  margin-left: -30px;
}

.remainaing {
  width: 112px;
  background: #fff;
  position: fixed;
  top: 325px;
  right: 0;
}

.remainaing h5 {
  font-family: "Noto Sans", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  padding: 8px;
}
